<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jms="http://www.springframework.org/schema/jms"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- enable annotations -->
	<context:annotation-config/>
	
	<!-- process annotated beans -->
	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
	
	<!-- JTA TX Manager --> 
	<bean id="txManager" class="org.springframework.transaction.jta.JtaTransactionManager"/>
		
	<!-- ************************************** -->
	<!-- Out-bound Connection Factory and Queue -->
	<!-- ************************************** -->
	
	<!-- a IBM MQ queue from JNDI -->
	<jee:jndi-lookup id="mqSendQueue" jndi-name="java:/jms/wmqQueue"/>
	
	<!-- a IBM MQ Connection Factory from JNDI -->
	<jee:jndi-lookup id="mqSendConnectionFactory" jndi-name="java:/jms/wmqCF"/>
	
	<!--  JMS TX Manager -->
	<bean id="jmsTransactionManager" class="org.springframework.jms.connection.JmsTransactionManager">
    	<property name="connectionFactory" ref="mqSendConnectionFactory" />
	</bean>
	
	<!-- A template for sending messages -->
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
    	<property name="connectionFactory" ref="mqSendConnectionFactory"/>
    	<!-- the following properties are most likely not used in JBoss  -->
    	<property name="sessionTransacted" value="true"/>
    	<property name="sessionAcknowledgeMode" value="0"/>
	</bean>
	
	<!-- *********************************** -->
	<!-- In-bound Message Driven Components  -->
	<!-- *********************************** -->

	<!-- this is the Message Driven POJO (MDP) -->
	<bean id="messageDrivenPOJO" class="org.jboss.sample.war.spring.MessageDrivenPOJO">
		<property name="queue" ref="mqSendQueue"/>
		<property name="jmsTemplate" ref="jmsTemplate"/>
		<constructor-arg value="txManager" index="0" type="org.springframework.transaction.jta.JtaTransactionManager"/>
	</bean>

	<!-- The IBM MQ Resource Adapter -->
	<bean id="mqResourceAdapter" class="org.springframework.jca.support.ResourceAdapterFactoryBean">
    	<property name="resourceAdapter">
        	<bean class="com.ibm.mq.connector.ResourceAdapterImpl">
				<property name="connectionConcurrency" value="5"/>
				<property name="maxConnections" value="10"/>
        	</bean>
    	</property>
    	<property name="workManager">
        	<bean class="org.springframework.jca.work.SimpleTaskWorkManager"/>
    	</property>
	</bean>
	
	<!-- Configure the messaging end point -->
	<bean class="org.springframework.jms.listener.endpoint.JmsMessageEndpointManager">
    	<property name="resourceAdapter" ref="mqResourceAdapter"/>
     	<property name="transactionManager" ref="txManager"/>
   		<property name="activationSpec">
        	<bean class="com.ibm.mq.connector.inbound.ActivationSpecImpl">
           		<property name="destination" value="GSS.QUEUE"/>
           		<property name="destinationType" value="javax.jms.Queue"/>
           		<property name="hostName" value="10.0.0.150"/>
           		<property name="port" value="1414"/>
       			<property name="channel" value="SYSTEM.DEF.SVRCONN"/>
               	<property name="transportType" value="CLIENT"/>
               	<property name="useJNDI" value="false"/>
        	</bean>
    	</property>
    	<property name="messageListener" ref="messageDrivenPOJO"/>
	</bean>
</beans>
